*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
    background-color:rgb(110, 212, 255);
}
.form{
    border-radius: 1rem ;
    box-shadow: 1px 1px 2px grey;
    
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 7%;
    background-color: white;
    display: flex;
    
    
}
img{
    height: 23rem;
    width: 16rem;
    border-radius: 8px;
    margin: 15px 15px 10px;
    box-shadow: 1px 1px 5px grey;
}
.form-content{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: small;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 3px;

}
.Input-per-2{
    display: flex;
    gap: 4rem;
}
button{
    line-height: 2rem;
    width: 8rem;
    margin: .7rem 0 0;
    background-color: rgb(0, 67, 160);
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 106, 254);
}
h1{
    margin: 0 0 .7rem;
}
input{
    
    padding: 4px;
}
